body {
    font-family: sans-serif;
    font-size: 14px;
}
#contenor {
    margin: 0px auto 0px auto;
}
.tablestn {
    margin: 0 auto;
    background-color: #ccc;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
}
.spanitem {
    border: 1px solid rgba(180,0,0,0.7);
    text-align: center;
    line-height: 27px;
    display: inline-block;
    background-color: rgba(255,0,0,0.2);
    color: rgba(180,0,0,0.7);
    width: 50px;
    height: 25px;
    border-radius: 3px;
}
.spanitemselected {
    border: 1px solid rgba(0,110,0,0.7);
    background-color: rgba(0,255,0,0.2);
    color: rgba(0,110,0,0.7);
}
.spanitemnd {
    border: 1px solid rgba(60,60,60,0.7);
    background-color: rgba(0,0,0,0.2);
    color: rgba(60,60,60,0.7);
    display: none;
}
.spanitemwselected {
    background-color: #1daa00;
}
.labelconfig {
    width: 100px;
    display: inline-block;
    text-align: left
}
.inputconfig {
    width: 100px;
    display: inline-block;
    text-align: right
}
